## Deliverable 2. Create a Customer Travel Destinations Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [42]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_data/Weather_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Teya,RU,60.3778,92.6267,45.99,93,100,12.33,light rain
1,1,Kaitangata,NZ,-46.2817,169.8464,58.32,67,100,3.11,overcast clouds
2,2,Reiskirchen,DE,50.6000,8.8333,48.43,91,89,10.36,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,59.76,60,92,5.19,overcast clouds
4,4,Atuona,PF,-9.8000,-139.0333,77.23,72,16,22.53,few clouds

In [43]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [44]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Atuona,PF,-9.8000,-139.0333,77.23,72,16,22.53,few clouds
11,11,Komsomolskiy,UZ,40.4272,71.7189,77.72,27,0,4.61,clear sky
15,15,Vaini,TO,-21.2000,-175.2000,77.16,78,40,11.50,scattered clouds
17,17,Yamada,JP,39.4667,141.9500,77.99,89,100,18.03,overcast clouds
21,21,Soe,ID,-9.8607,124.2840,89.51,23,64,9.17,broken clouds
24,24,Faanui,PF,-16.4833,-151.7500,78.82,73,6,16.71,clear sky
25,25,Kawalu,ID,-7.3817,108.2082,80.56,70,80,5.64,broken clouds
39,39,Dingle,PH,10.9995,122.6711,87.08,68,100,14.99,overcast clouds
43,43,Avarua,CK,-21.2078,-159.7750,75.25,83,75,3.44,broken clouds
47,47,Kapaa,US,22.0752,-159.3190,82.38,81,100,11.50,overcast clouds

In [45]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [46]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Atuona,PF,-9.8000,-139.0333,77.23,72,16,22.53,few clouds
11,11,Komsomolskiy,UZ,40.4272,71.7189,77.72,27,0,4.61,clear sky
15,15,Vaini,TO,-21.2000,-175.2000,77.16,78,40,11.50,scattered clouds
17,17,Yamada,JP,39.4667,141.9500,77.99,89,100,18.03,overcast clouds
21,21,Soe,ID,-9.8607,124.2840,89.51,23,64,9.17,broken clouds
...,...,...,...,...,...,...,...,...,...,...
654,654,Denpasar,ID,-8.6500,115.2167,82.06,78,40,10.36,scattered clouds
655,655,Nortelandia,BR,-14.4547,-56.8028,80.94,54,76,4.23,broken clouds
657,657,Gold Coast,AU,-28.0000,153.4333,85.77,64,0,10.36,clear sky
659,659,Woodward,US,36.4337,-99.3904,79.83,53,0,13.80,clear sky
660,660,Fort-Shevchenko,KZ,44.5086,50.2630,77.38,32,0,24.00,clear sky

In [47]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Atuona,PF,77.23,few clouds,-9.8000,-139.0333,
11,Komsomolskiy,UZ,77.72,clear sky,40.4272,71.7189,
15,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
17,Yamada,JP,77.99,overcast clouds,39.4667,141.9500,
21,Soe,ID,89.51,broken clouds,-9.8607,124.2840,
24,Faanui,PF,78.82,clear sky,-16.4833,-151.7500,
25,Kawalu,ID,80.56,broken clouds,-7.3817,108.2082,
39,Dingle,PH,87.08,overcast clouds,10.9995,122.6711,
43,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,
47,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,

In [49]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Atuona,PF,77.23,few clouds,-9.8000,-139.0333,
11,Komsomolskiy,UZ,77.72,clear sky,40.4272,71.7189,
15,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
17,Yamada,JP,77.99,overcast clouds,39.4667,141.9500,
21,Soe,ID,89.51,broken clouds,-9.8607,124.2840,
...,...,...,...,...,...,...,...
654,Denpasar,ID,82.06,scattered clouds,-8.6500,115.2167,
655,Nortelandia,BR,80.94,broken clouds,-14.4547,-56.8028,
657,Gold Coast,AU,85.77,clear sky,-28.0000,153.4333,
659,Woodward,US,79.83,clear sky,36.4337,-99.3904,
660,Fort-Shevchenko,KZ,77.38,clear sky,44.5086,50.2630,

In [50]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [51]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Atuona,PF,77.23,few clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
11,Komsomolskiy,UZ,77.72,clear sky,40.4272,71.7189,Ikathouse
15,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
17,Yamada,JP,77.99,overcast clouds,39.4667,141.9500,Iroha-ya Inn
21,Soe,ID,89.51,broken clouds,-9.8607,124.2840,Dena Hotel
...,...,...,...,...,...,...,...
654,Denpasar,ID,82.06,scattered clouds,-8.6500,115.2167,OYO 3156 Hotel Warta 2
655,Nortelandia,BR,80.94,broken clouds,-14.4547,-56.8028,Pousada e Restaurante Santana
657,Gold Coast,AU,85.77,clear sky,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
659,Woodward,US,79.83,clear sky,36.4337,-99.3904,"Holiday Inn Express & Suites Woodward Hwy 270,..."
660,Fort-Shevchenko,KZ,77.38,clear sky,44.5086,50.2630,Oasis hotel Bautino

In [29]:
# 7. Drop the rows where there is no Hotel Name.

In [52]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Atuona,PF,77.23,few clouds,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
11,Komsomolskiy,UZ,77.72,clear sky,40.4272,71.7189,Ikathouse
15,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
17,Yamada,JP,77.99,overcast clouds,39.4667,141.9500,Iroha-ya Inn
21,Soe,ID,89.51,broken clouds,-9.8607,124.2840,Dena Hotel
...,...,...,...,...,...,...,...
654,Denpasar,ID,82.06,scattered clouds,-8.6500,115.2167,OYO 3156 Hotel Warta 2
655,Nortelandia,BR,80.94,broken clouds,-14.4547,-56.8028,Pousada e Restaurante Santana
657,Gold Coast,AU,85.77,clear sky,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
659,Woodward,US,79.83,clear sky,36.4337,-99.3904,"Holiday Inn Express & Suites Woodward Hwy 270,..."
660,Fort-Shevchenko,KZ,77.38,clear sky,44.5086,50.2630,Oasis hotel Bautino

In [56]:
# 8a. Create the output File (CSV)
output_data_file = "../weather_data/vacation_search.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [58]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map. 


# 11b. Display the figure
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))